doctype
html
	head
		include partials/head
	body
		.wrapper
			.row
				-for(var i=0;i<5;i++)
					.col-phablet-1-2.col-tablet-1-3.col-desktop-1-4
					
						.article
							.article__top
								label
									input(type="checkbox")
									|Порівняти
								a(href="#")
									<i class="fab fa-accessible-icon"></i>
							.article__pic
								img(src="https://hotline.ua/img/tx/166/166380530_s265.jpg")
							.article__info
								.article__name
									a(href="#") Samsung QE65Q8CAMU
								.article__property
									.article__rating
										each item, index in ['','','','','']
											i(class=index<3?'fas fa-star':'far fa-star')
									a(href="#")
										| Акції (10)
									a(href="#")
										<i class="far fa-heart"></i> Додати до списку
								.article__prices
									.article__price
										| 127086 грн
										p 120000 - 130000 грн
										a(href="#") Всі пропозиції (25)
									.article__compare
										h4 ПОРІВНЯТИ ЦІНИ
